@model hrd_holding.Models.mEmployeeModel

@{
    ViewBag.Title = "EmployeeDetail";
    Layout = "~/Views/Shared/_header.cshtml";
}

<header>
    <script src="~/scripts/mEmployee/init_m_employee.js"></script>
    <script src="~/scripts/mEmployee/m_employee.js"></script>
    <script src="~/scripts/mEmployee/m_employee_family.js"></script>
    <script src="~/scripts/mEmployee/m_employee_education.js"></script>
</header>

<div>
    <!--#region DETAIL EMPLOYEE -->
    <div>
        <table>
            <tr>
                <td>Employee ID *</td>
                <td>
                    <input type="text" id="txtId" /></td>
            </tr>
            <tr>
                <td>Full Name *</td>
                <td>
                    <input type="text" id="txtFullName" /></td>
                <td style="padding-left: 30px">Nick Name *</td>
                <td>
                    <input type="text" id="txtNickName" /></td>
            </tr>
            <tr>
                <td>Place Of Birth *</td>
                <td>
                    <input type="text" id="txtPob" /></td>
                <td style="padding-left: 30px">Date Of Birth *</td>
                <td>
                    <input type="text" id="dtDob" /></td>
            </tr>
            <tr>
                <td>Gender *</td>
                <td>
                    <div id='cmbGender'></div>
                </td>
                <td style="padding-left: 30px">Religion *</td>
                <td>
                    <div id='cmbReligion'></div>
                </td>
            </tr>
            <tr>
                <td>Children Nr *</td>
                <td>
                    <input type="text" id="txtChild" /></td>
                <td style="padding-left: 30px">Employee Address *</td>
                <td>
                    <input type="text" id="txtAddress" /></td>
            </tr>
            <tr>
                <td>Departement *</td>
                <td>
                    <input type="text" style="width: 60px" id="txtKdDepartement" />
                    <input type="button" id="btnKdDepartement" value="..." />
                    <input type="text" id="txtNmDepartement" />
                </td>
                <td style="padding-left: 30px">Job Title *</td>
                <td>
                    <input type="text" style="width: 60px" id="txtKdJobTitle" />
                    <input type="button" id="btnKdJobTitle" value="..." />
                    <input type="text" id="txtNmJobTitle" />
                </td>
            </tr>
            <tr>
                <td>Grade</td>
                <td>
                    <input type="text" style="width: 60px" id="txtKdGrade" />
                    <input type="button" id="btnKdGrade" value="..." />
                    <input type="text" id="txtNmGrade" />
                </td>
                <td style="padding-left: 30px">Level *</td>
                <td>
                    <input type="text" style="width: 60px" id="txtKdLevel" />
                    <input type="button" id="btnKdLevel" value="..." />
                    <input type="text" id="txtNmLevel" />
                </td>
            </tr>
            <tr>
                <td>Start Working</td>
                <td>
                    <input type="text" id="dtStartWorking" /></td>
                <td style="padding-left: 30px">Probation Date</td>
                <td>
                    <input type="text" id="dtProbation" /></td>
                <td style="padding-left: 30px">Working Age (Y)</td>
                <td>
                    <input type="text" id="txtWorkingAge" /></td>
            </tr>
            <tr>
                <td>Phone Number</td>
                <td>
                    <input type="text" id="txtPhone" /></td>
                <td style="padding-left: 30px">Email</td>
                <td>
                    <input type="text" id="txtEmail" /></td>
            </tr>
            <tr>
                <td>Country *</td>
                <td>
                    <input type="text" style="width: 60px" id="txtKdCountry" />
                    <input type="button" id="btnKdCountry" value="..." />
                    <input type="text" id="txtNmCountry" />
                </td>
                <td style="padding-left: 30px">Identity Card Nr</td>
                <td>
                    <input type="text" id="txtNoKtp" /></td>
            </tr>
            <tr>
                <td>Last Education</td>
                <td>
                    <input type="text" id="txtLastEducation" /></td>
                <td style="padding-left: 30px">Last Employment</td>
                <td>
                    <input type="text" id="txtLastEmployment" /></td>
            </tr>
            <tr>
                <td>Bank Name</td>
                <td>
                    <input type="text" style="width: 60px" id="txtKdBank" />
                    <input type="button" id="btnKdBank" value="..." />
                    <input type="text" id="txtNmBank" /></td>
                <td style="padding-left: 30px">Bank Account</td>
                <td>
                    <input type="text" id="txtBankAcc" /></td>
                <td style="padding-left: 30px">Bank Acc. Name</td>
                <td>
                    <input type="text" id="txtBankAccName" /></td>
            </tr>
            <tr>
                <td>Status</td>
                <td>
                    <input type="text" style="width: 60px" id="txtKdStatus" />
                    <input type="button" id="btnKdStatus" value="..." />
                    <input type="text" id="txtNmStatus" />
                </td>
                <td style="padding-left: 30px">Atasan</td>
                <td>
                    <input type="text" style="width: 60px" id="txtKdAtasan" />
                    <input type="button" id="btnkdAtasan" value="..." />
                    <input type="text" id="txtNmAtasan" />
                </td>

            </tr>
            <tr>
                <td colspan="2" style="padding-left: 50px; padding-top: 10px">
                    <div id='chkManagerial'>Managerial (No Att. Needed)</div>
                </td>
                <td rowspan="2" colspan="2" style="padding-left: 50px; padding-top: 10px">
                    <fieldset style="border-radius: 5px; padding: 5px; border: 1px solid #6b1717; background-color: #eeece1;">
                        <legend>Working Status Employment</legend>
                        <table>
                            <tr>
                                <td style="padding-left: 20px">
                                    <div id='optProbation'>Probation</div>
                                </td>
                                <td style="padding-left: 20px">
                                    <div id='optActive'>Active</div>
                                </td>
                                <td style="padding-left: 20px">
                                    <div id='optNonActive'>Non Active</div>
                                </td>
                            </tr>
                        </table>
                    </fieldset>
                </td>

            </tr>
            <tr>
                <td colspan="2" style="padding-left: 50px">
                    <div id='chkSpecialLate'>Special Permission for Late</div>
                </td>
            </tr>
        </table>
    </div>
    <!--#endregion -->

    <!--#region TABEL FAMILY, SKILL, EXP DLL -->
    <div style="margin-top: 10px">
        <fieldset style="border-radius: 5px; padding: 5px; border: 1px solid #6b1717; background-color: #eeece1;">
            <legend style="margin-left: 20px; background-color: #6b1717; padding-left: 10px; padding-top: 5px; padding-right: 100px; padding-bottom: 5px; color: white; border-radius: 8px; border: 2px solid #eeece1; font-size: 13px;">
                <b>Employee Detail </b>
            </legend>
            <div id='jqxTabs'>
                <ul>
                    <li>FAMILY</li>
                    <li>EDUCATION</li>
                    <li>SKILL</li>
                    <li>EXPERIENCE</li>
                    <li>TRAINING</li>
                    <li>CONTRACT</li>
                </ul>
                <div id="pnlFamily" style="padding-left: 10px; padding-right: 10px; padding-top: 5px">
                    <div id="tblFamily"></div>
                    <div style="margin-top: 10px; margin-left: 20px">
                        <button id="btnFamilyNew">NEW DATA</button>
                        <button id="btnFamilyEdit">EDIT</button>
                        <button style="margin-left: 50px" id="btnFamilyDelete">DELETE</button>
                    </div>
                </div>
                <div id="pnlEducation" style="padding-left: 10px; padding-right: 10px; padding-top: 5px">
                    <div id="tblEducation"></div>
                    <div style="margin-top: 10px; margin-left: 20px">
                        <button id="btnEduNew">NEW DATA</button>
                        <button id="btnEduEdit">EDIT</button>
                        <button style="margin-left: 50px" id="btnEduDelete">DELETE</button>
                    </div>
                </div>
                <div id="pnlSkill" style="padding-left: 10px; padding-right: 10px; padding-top: 5px">
                    <div id="tblSkill"></div>
                    <div style="margin-top: 10px; margin-left: 20px">
                        <button id="btnSkillNew">NEW DATA</button>
                        <button id="btnSkillEdit">EDIT</button>
                        <button style="margin-left: 50px" id="btnSkillDelete">DELETE</button>
                    </div>
                </div>
                <div id="pnlExperience" style="padding-left: 10px; padding-right: 10px; padding-top: 5px">
                    <div id="tblExperience"></div>
                    <div style="margin-top: 10px; margin-left: 20px">
                        <button id="btnExpNew">NEW DATA</button>
                        <button id="btnExpEdit">EDIT</button>
                        <button style="margin-left: 50px" id="btnExpDelete">DELETE</button>
                    </div>
                </div>
                <div id="pnlTraining" style="padding-left: 10px; padding-right: 10px; padding-top: 5px">
                    <div id="tblTraining"></div>
                    <div style="margin-top: 10px; margin-left: 20px">
                        <button id="btnTrainingNew">NEW DATA</button>
                        <button id="btnTrainingEdit">EDIT</button>
                        <button style="margin-left: 50px" id="btnTrainingDelete">DELETE</button>
                    </div>
                </div>
                <div id="pnlContract" style="padding-left: 10px; padding-right: 10px; padding-top: 5px">
                    <div id="tblContract"></div>
                    <div style="margin-top: 10px; margin-left: 20px">
                        <button id="btnContractNew">NEW DATA</button>
                        <button id="btnContractEdit">EDIT</button>
                        <button style="margin-left: 50px" id="btnContractDelete">DELETE</button>
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
    <!--#endregion -->

    <!--#region MODAL FAMILY-->
    <div id='modFamily'>
        <div>
            <span>FAMILY DETAIL</span>
        </div>
        <div>
            <div id="container" style="height: 40px"></div>
            <div id="jqxNotification">
                <div id="notificationContent"></div>
            </div>
            <div>
                <table>
                    <tr>
                        <td>NAME *</td>
                        <td>
                            <input type="text" id="txtFamName" /></td>
                    </tr>
                    <tr>
                        <td>Relationship *</td>
                        <td>
                            <div id="cmbFamRelation"></div>
                        </td>
                        <td style="padding-left: 30px">Date Of Birth</td>
                        <td>
                            <input type="text" id="txtFamDob" /></td>
                    </tr>
                    <tr>
                        <td>Gender *</td>
                        <td>
                            <div id="cmbFamGender"></div>
                        </td>
                        <td style="padding-left: 30px">Education</td>
                        <td>
                            <input type="text" id="txtFamEducation" /></td>
                    </tr>
                    <tr>
                        <td>Employment</td>
                        <td>
                            <input type="text" id="txtFamEmployment" /></td>
                        <td style="padding-left: 30px">Address</td>
                        <td rowspan="2">
                            <textarea id="txtFamAddress"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <input type="checkbox" id="chkFamAddress" />
                            Same As Employee's</td>
                    </tr>
                </table>
                <div style="margin-top: 15px; margin-left: 20px">
                    <button id="btnModFamSave">SAVE</button>
                    <button id="btnModFamCancel">CANCEL</button>
                </div>
            </div>
        </div>
    </div>
    <!--#endregion-->

    <!--#region MODAL EDUCATION-->
    <div id="modEducation">
        <div>
            <span>EDUCATION DETAIL</span>
        </div>
        <div>
            <div id="psnEduContainer" style="height: 40px"></div>
            <div id="psnEducation">
                <div id="psnEduIsi"></div>
            </div>
            <div>
                <table>
                    <tr>
                        <td>Start Year *</td>
                        <td>
                            <div id="dtEduStartYear"></div>
                        </td>
                        <td style="padding-left: 30px">End Year *</td>
                        <td>
                            <input type="text" id="dtEduEndYear" /></td>
                    </tr>
                    <tr>
                        <td>Level *</td>
                        <td>
                            <div id="cmbEduLevel"></div>
                        </td>
                    </tr>
                    <tr>
                        <td>Majors</td>
                        <td>
                            <input type="text" id="txtEduMajors" /></td>
                        <td style="padding-left: 30px">School / University *</td>
                        <td>
                            <input type="text" id="txtEduSchool" /></td>
                    </tr>
                    <tr>
                        <td>City</td>
                        <td>
                            <input type="text" id="txtEduCity" /></td>
                        <td style="padding-left: 30px">Country</td>
                        <td>
                            <input type="text" id="txtEduCountryCode" />
                            <input type="button" id="btnEduCountry" value="..." />
                            <input type="text" id="txtEduCountryName" />
                        </td>
                    </tr>
                </table>
                <div style="margin-top: 15px; margin-left: 20px">
                    <button id="btnEduSave">SAVE</button>
                    <button id="btnEduCancel">CANCEL</button>
                </div>
            </div>
        </div>
    </div>
    <!--#endregion-->


    <div id='modYesNo'>
        <div><span>Human Resource Development</span></div>
        <div>
            <div style="margin-top: 10px; margin-left: 10px">
                Delete Selected data?
            </div>
            <div style="margin-top: 40px; margin-left: 20px">
                <button id="btnYes">YES</button>
                <button id="btnNo">NO</button>
            </div>
        </div>
    </div>
</div>

