@model hrd_holding.Models.mEmployeeModel

@{
    ViewBag.Title = "EmployeeDetail";
    Layout = "~/Views/Shared/_header.cshtml";
}

<header>
    <script src="~/scripts/mEmployee/m_employee.js"></script>
    <script src="~/scripts/mEmployee/m_employee_company.js"></script>
    <script src="~/scripts/mEmployee/m_employee_family.js"></script>
    <script src="~/scripts/mEmployee/m_employee_education.js"></script>
    <script src="~/scripts/mEmployee/m_employee_skill.js"></script>
    <script src="~/scripts/mEmployee/m_employee_experience.js"></script>
    <script src="~/scripts/mEmployee/m_employee_training.js"></script>
</header>

<div>
    <!--#region DETAIL EMPLOYEE -->
    <div>
        <table style="width: 100%">
            <tr>
                <td>Company</td>
                <td>
                    <input type="text" id="txtIntCompany" />
                    <input type="text" id="txtCompany" />
                    <button id="btnChangeComp">Change</button>
                </td>
                <td></td>
                <td rowspan="2" colspan="3">
                    <div id="EmpToolBar" style="margin-bottom: 1px; padding-right: 20px"></div>
                </td>
            </tr>
            <tr>
                <td>Branch</td>
                <td colspan="3">
                    <input type="text" id="txtIntBranch" />
                    <input type="text" id="txtBranch" /></td>
            </tr>
            <tr>
                <td>Employee NIK *</td>
                <td>
                    <input type="text" id="txtId" />
                    <input type="text" id="txtSeqNo" />
                </td>
            </tr>
            <tr>
                <td>Full Name *</td>
                <td>
                    <input type="text" id="txtFullName" /></td>
                <td style="padding-left: 30px">Nick Name *</td>
                <td>
                    <input type="text" id="txtNickName" /></td>
            </tr>
            <tr>
                <td>Place Of Birth *</td>
                <td>
                    <input type="text" id="txtPob" /></td>
                <td style="padding-left: 30px">Date Of Birth *</td>
                <td>
                    <input type="text" id="dtDob" /></td>
            </tr>
            <tr>
                <td>Gender *</td>
                <td>
                    <div id='cmbGender'></div>
                </td>
                <td style="padding-left: 30px">Religion *</td>
                <td>
                    <div id='cmbMarital'></div>
                </td>
                <td style="padding-left: 30px">Religion *</td>
                <td>
                    <div id='cmbReligion'></div>
                </td>
            </tr>
            <tr>
                <td>Children Nr *</td>
                <td>
                    <input type="text" id="txtChild" /></td>
                <td style="padding-left: 30px">Employee Address *</td>
                <td>
                    <input type="text" id="txtAddress" /></td>
            </tr>
            <tr>
                <td>Departement *</td>
                <td>
                    <input type="text" style="width: 60px" id="txtKdDepartement" />
                    <input type="button" id="btnKdDepartement" value="..." />
                    <input type="text" id="txtNmDepartement" />
                </td>
                <td style="padding-left: 30px">Job Title *</td>
                <td>
                    <input type="text" style="width: 60px" id="txtKdJobTitle" />
                    <input type="button" id="btnKdJobTitle" value="..." />
                    <input type="text" id="txtNmJobTitle" />
                </td>
            </tr>
            <tr>
                <td>Grade</td>
                <td>
                    <input type="text" style="width: 60px" id="txtKdGrade" />
                    <input type="button" id="btnKdGrade" value="..." />
                    <input type="text" id="txtNmGrade" />
                </td>
                <td style="padding-left: 30px">Level *</td>
                <td>
                    <input type="text" style="width: 60px" id="txtKdLevel" />
                    <input type="button" id="btnKdLevel" value="..." />
                    <input type="text" id="txtNmLevel" />
                </td>
            </tr>
            <tr>
                <td>Start Working</td>
                <td>
                    <input type="text" id="dtStartWorking" /></td>
                <td style="padding-left: 30px">Probation Date</td>
                <td>
                    <input type="text" id="dtProbation" /></td>
                <td style="padding-left: 30px">Working Age (Y)</td>
                <td>
                    <input type="text" id="txtWorkingAge" /></td>
            </tr>
            <tr>
                <td>Phone Number</td>
                <td>
                    <input type="text" id="txtPhone" /></td>
                <td style="padding-left: 30px">Email</td>
                <td>
                    <input type="text" id="txtEmail" /></td>
            </tr>
            <tr>
                <td>Country *</td>
                <td>
                    <input type="text" style="width: 60px" id="txtKdCountry" />
                    <input type="button" id="btnKdCountry" value="..." />
                    <input type="text" id="txtNmCountry" />
                </td>
                <td style="padding-left: 30px">Identity Card Nr</td>
                <td>
                    <input type="text" id="txtNoKtp" /></td>
            </tr>
            <tr>
                <td>Last Education</td>
                <td>
                    <input type="text" id="txtLastEducation" /></td>
                <td style="padding-left: 30px">Last Employment</td>
                <td>
                    <input type="text" id="txtLastEmployment" /></td>
            </tr>
            <tr>
                <td>Bank Name</td>
                <td>
                    <input type="text" style="width: 60px" id="txtKdBank" />
                    <input type="button" id="btnKdBank" value="..." />
                    <input type="text" id="txtNmBank" /></td>
                <td style="padding-left: 30px">Bank Account</td>
                <td>
                    <input type="text" id="txtBankAcc" /></td>
                <td style="padding-left: 30px">Bank Acc. Name</td>
                <td>
                    <input type="text" id="txtBankAccName" /></td>
            </tr>
            <tr>
                <td>Status</td>
                <td>
                    <input type="text" style="width: 60px" id="txtKdStatus" />
                    <input type="button" id="btnKdStatus" value="..." />
                    <input type="text" id="txtNmStatus" />
                </td>
                <td style="padding-left: 30px">Atasan</td>
                <td colspan="3">
                    <input type="text" style="width: 60px" id="txtKdAtasan" />
                    <input type="button" id="btnkdAtasan" value="..." />
                    <input type="text" id="txtNmAtasan" />
                </td>

            </tr>
            <tr>
                <td colspan="2" style="padding-left: 50px; padding-top: 10px">
                    <div id='chkManagerial'>Managerial (No Att. Needed)</div>
                </td>
                <td rowspan="2" colspan="2" style="padding-left: 50px; padding-top: 10px">
                    <fieldset style="border-radius: 5px; padding: 5px; border: 1px solid #6b1717; background-color: #eeece1;">
                        <legend>Working Status Employment</legend>
                        <table>
                            <tr>
                                <td style="padding-left: 20px">
                                    <div id='optProbation'>Probation</div>
                                </td>
                                <td style="padding-left: 20px">
                                    <div id='optActive'>Active</div>
                                </td>
                                <td style="padding-left: 20px">
                                    <div id='optNonActive'>Non Active</div>
                                </td>
                            </tr>
                        </table>
                    </fieldset>
                </td>

            </tr>
            <tr>
                <td colspan="2" style="padding-left: 50px">
                    <div id='chkSpecialLate'>Special Permission for Late</div>
                </td>
            </tr>
        </table>
    </div>
    <!--#endregion -->

    <!--#region TABS FAMILY, SKILL, EXP DLL -->
    <div style="margin-top: 10px">
        <fieldset style="border-radius: 5px; padding: 5px; border: 1px solid #6b1717; background-color: #eeece1;">
            <legend style="margin-left: 20px; background-color: #6b1717; padding-left: 10px; padding-top: 5px; padding-right: 100px; padding-bottom: 5px; color: white; border-radius: 8px; border: 2px solid #eeece1; font-size: 13px;">
                <b>Employee Detail </b>
            </legend>
            <div id='jqxTabs'>
                <ul>
                    <li>FAMILY</li>
                    <li>EDUCATION</li>
                    <li>SKILL</li>
                    <li>EXPERIENCE</li>
                    <li>TRAINING</li>
                    <li>CONTRACT</li>
                </ul>
                <div id="pnlFamily" style="padding-left: 10px; padding-right: 10px; padding-top: 5px">
                    <div id="tblFamily"></div>
                    <div style="margin-top: 10px; margin-left: 20px">
                        <table>
                            <tr>
                                <td>
                                    @*<button id="btnFamilyNew">NEW DATA</button>*@
                                    <div style="width: 100px; height: 30px;" id="btnFamilyNew" role="button">
                                        <img style="vertical-align: middle" src="~/content/images/add property_24_grey.png">
                                        <span style="position: relative; top: 3px;">ADD NEW</span>
                                    </div>

                                </td>
                                <td>
                                    @*<button id="btnFamilyEdit">EDIT</button>*@
                                    <div style="margin-left: 5px; width: 100px; height: 30px;" id="btnFamilyEdit" role="button">
                                        <img style="vertical-align: middle" src="~/content/images/edit property_24_grey.png">
                                        <span style="position: relative; top: 3px;">EDIT</span>
                                    </div>

                                </td>
                                <td>
                                    @*<button style="margin-left: 50px" id="btnFamilyDelete">DELETE</button>*@
                                    <div style="margin-left: 50px; width: 100px; height: 30px;" id="btnFamilyDelete" role="button">
                                        <img style="vertical-align: middle" src="~/content/images/delete property_24_grey.png">
                                        <span style="position: relative; top: 3px;">DELETE</span>
                                    </div>

                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div id="pnlEducation" style="padding-left: 10px; padding-right: 10px; padding-top: 5px">
                    <div id="tblEducation"></div>
                    <div style="margin-top: 10px; margin-left: 20px">
                        <table>
                            <tr>
                                <td>
                                    <div style="width: 100px; height: 30px;" id="btnEduNew" role="button">
                                        <img style="vertical-align: middle" src="~/content/images/add property_24_grey.png">
                                        <span style="position: relative; top: 3px;">ADD NEW</span>
                                    </div>
                                </td>
                                <td>
                                    <div style="margin-left: 5px; width: 100px; height: 30px;" id="btnEduEdit" role="button">
                                        <img style="vertical-align: middle" src="~/content/images/edit property_24_grey.png">
                                        <span style="position: relative; top: 3px;">EDIT</span>
                                    </div>
                                </td>
                                <td>
                                    <div style="margin-left: 50px; width: 100px; height: 30px;" id="btnEduDelete" role="button">
                                        <img style="vertical-align: middle" src="~/content/images/delete property_24_grey.png">
                                        <span style="position: relative; top: 3px;">DELETE</span>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div id="pnlSkill" style="padding-left: 10px; padding-right: 10px; padding-top: 5px">
                    <div id="tblSkill"></div>
                    <div style="margin-top: 10px; margin-left: 20px">
                        <table>
                            <tr>
                                <td>
                                    <div style="width: 100px; height: 30px;" id="btnSkillNew" role="button">
                                        <img style="vertical-align: middle" src="~/content/images/add property_24_grey.png">
                                        <span style="position: relative; top: 3px;">ADD NEW</span>
                                    </div>

                                </td>
                                <td>
                                    <div style="margin-left: 5px; width: 100px; height: 30px;" id="btnSkillEdit" role="button">
                                        <img style="vertical-align: middle" src="~/content/images/edit property_24_grey.png">
                                        <span style="position: relative; top: 3px;">EDIT</span>
                                    </div>

                                </td>
                                <td>
                                    <div style="margin-left: 50px; width: 100px; height: 30px;" id="btnSkillDelete" role="button">
                                        <img style="vertical-align: middle" src="~/content/images/delete property_24_grey.png">
                                        <span style="position: relative; top: 3px;">DELETE</span>
                                    </div>

                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div id="pnlExperience" style="padding-left: 10px; padding-right: 10px; padding-top: 5px">
                    <div id="tblExperience"></div>
                    <div style="margin-top: 10px; margin-left: 20px">
                        <table>
                            <tr>
                                <td>
                                    <div style="width: 100px; height: 30px;" id="btnExpNew" role="button">
                                        <img style="vertical-align: middle" src="~/content/images/add property_24_grey.png">
                                        <span style="position: relative; top: 3px;">ADD NEW</span>
                                    </div>

                                </td>
                                <td>
                                    <div style="margin-left: 5px; width: 100px; height: 30px;" id="btnExpEdit" role="button">
                                        <img style="vertical-align: middle" src="~/content/images/edit property_24_grey.png">
                                        <span style="position: relative; top: 3px;">EDIT</span>
                                    </div>

                                </td>
                                <td>
                                    <div style="margin-left: 50px; width: 100px; height: 30px;" id="btnExpDelete" role="button">
                                        <img style="vertical-align: middle" src="~/content/images/delete property_24_grey.png">
                                        <span style="position: relative; top: 3px;">DELETE</span>
                                    </div>

                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div id="pnlTraining" style="padding-left: 10px; padding-right: 10px; padding-top: 5px">
                    <div id="tblTraining"></div>
                    <div style="margin-top: 10px; margin-left: 20px">
                        <table>
                            <tr>
                                <td>
                                    <div style="width: 100px; height: 30px;" id="btnTrainingNew" role="button">
                                        <img style="vertical-align: middle" src="~/content/images/add property_24_grey.png">
                                        <span style="position: relative; top: 3px;">ADD NEW</span>
                                    </div>

                                </td>
                                <td>
                                    <div style="margin-left: 5px; width: 100px; height: 30px;" id="btnTrainingEdit" role="button">
                                        <img style="vertical-align: middle" src="~/content/images/edit property_24_grey.png">
                                        <span style="position: relative; top: 3px;">EDIT</span>
                                    </div>

                                </td>
                                <td>
                                    <div style="margin-left: 50px; width: 100px; height: 30px;" id="btnTrainingDelete" role="button">
                                        <img style="vertical-align: middle" src="~/content/images/delete property_24_grey.png">
                                        <span style="position: relative; top: 3px;">DELETE</span>
                                    </div>

                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div id="pnlContract" style="padding-left: 10px; padding-right: 10px; padding-top: 5px">
                    <div id="tblContract"></div>
                    <div style="margin-top: 10px; margin-left: 20px">
                        <table>
                            <tr>
                                <td>
                                    <div style="width: 100px; height: 30px;" id="btnContractNew" role="button">
                                        <img style="vertical-align: middle" src="~/content/images/add property_24_grey.png">
                                        <span style="position: relative; top: 3px;">ADD NEW</span>
                                    </div>

                                </td>
                                <td>
                                    <div style="margin-left: 5px; width: 100px; height: 30px;" id="btnContractEdit" role="button">
                                        <img style="vertical-align: middle" src="~/content/images/edit property_24_grey.png">
                                        <span style="position: relative; top: 3px;">EDIT</span>
                                    </div>

                                </td>
                                <td>
                                    <div style="margin-left: 50px; width: 100px; height: 30px;" id="btnContractDelete" role="button">
                                        <img style="vertical-align: middle" src="~/content/images/delete property_24_grey.png">
                                        <span style="position: relative; top: 3px;">DELETE</span>
                                    </div>

                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
    <!--#endregion -->

    <!--#region MODAL FAMILY-->
    <div id='modFamily'>
        <div>
            <span>FAMILY DETAIL</span>
        </div>
        <div>
            <div id="container" style="height: 40px"></div>
            <div id="jqxNotification">
                <div id="notificationContent"></div>
            </div>
            <div>
                <table>
                    <tr>
                        <td>NAME *</td>
                        <td>
                            <input type="text" id="txtFamName" /></td>
                    </tr>
                    <tr>
                        <td>Relationship *</td>
                        <td>
                            <div id="cmbFamRelation"></div>
                        </td>
                        <td style="padding-left: 30px">Date Of Birth</td>
                        <td>
                            <input type="text" id="txtFamDob" /></td>
                    </tr>
                    <tr>
                        <td>Gender *</td>
                        <td>
                            <div id="cmbFamGender"></div>
                        </td>
                        <td style="padding-left: 30px">Education</td>
                        <td>
                            <input type="text" id="txtFamEducation" /></td>
                    </tr>
                    <tr>
                        <td>Employment</td>
                        <td>
                            <input type="text" id="txtFamEmployment" /></td>
                        <td style="padding-left: 30px">Address</td>
                        <td rowspan="2">
                            <textarea id="txtFamAddress"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <input type="checkbox" id="chkFamAddress" />
                            Same As Employee's
                        </td>
                    </tr>
                </table>
                <div style="margin-top: 15px; margin-left: 20px">
                    <button id="btnModFamSave">SAVE</button>
                    <button id="btnModFamCancel">CANCEL</button>
                </div>
            </div>
        </div>
    </div>
    <!--#endregion-->

    <!--#region MODAL EDUCATION-->
    <div id="modEducation">
        <div>
            <span>EDUCATION DETAIL</span>
        </div>
        <div>
            <div id="psnEduContainer" style="height: 40px"></div>
            <div id="psnEducation">
                <div id="psnEduIsi"></div>
            </div>
            <div style="margin-left: 20px">
                <table>
                    <tr>
                        <td>Emp. Code *</td>
                        <td>
                            <input type="text" id="txtEduCode" /></td>
                    </tr>
                    <tr>
                        <td>Start Year *</td>
                        <td>
                            <div id="dtEduStartYear"></div>
                        </td>
                        <td style="padding-left: 30px">End Year *</td>
                        <td>
                            <div id="dtEduEndYear"></div>
                        </td>
                    </tr>
                    <tr>
                        <td>Level *</td>
                        <td>
                            <div id="cmbEduLevel"></div>
                        </td>
                    </tr>
                    <tr>
                        <td>Majors</td>
                        <td>
                            <input type="text" id="txtEduMajors" /></td>
                        <td style="padding-left: 30px">School / University *</td>
                        <td>
                            <input type="text" id="txtEduSchool" /></td>
                    </tr>
                    <tr>
                        <td>City</td>
                        <td>
                            <input type="text" id="txtEduCity" /></td>
                        <td style="padding-left: 30px">Country</td>
                        <td>
                            <input type="text" id="txtEduCountryCode" style="width: 40px" />
                            <input type="button" id="btnEduCountry" value="..." />
                            <input type="text" id="txtEduCountryName" />
                        </td>
                    </tr>
                </table>
                <div style="margin-top: 20px; margin-left: 20px">
                    <button id="btnEduSave">SAVE</button>
                    <button id="btnEduCancel">CANCEL</button>
                </div>
            </div>
        </div>
    </div>
    <!--#endregion-->

    <!--#region MODAL SKILL-->
    <div id="modSkill">
        <div>
            <span>SKILL DETAIL</span>
        </div>
        <div>
            <div id="psnSkillContainer" style="height: 40px"></div>
            <div id="psnSkill">
                <div id="psnSkillIsi"></div>
            </div>
            <div style="margin-left: 20px">
                <table>
                    <tr>
                        <td>Emp. Code *</td>
                        <td>
                            <input type="text" id="txtSkillCode" /></td>
                    </tr>
                    <tr>
                        <td>Skill Name *</td>
                        <td>
                            <input type="text" id="txtSkillName" /></td>
                    </tr>
                    <tr>
                        <td>Level *</td>
                        <td>
                            <div id="cmbSkillLevel"></div>
                        </td>
                    </tr>
                    <tr>
                        <td>Description</td>
                        <td rowspan="2">
                            <textarea id="txtSkillDesc"></textarea>
                        </td>
                    </tr>
                </table>
                <div style="margin-top: 20px; margin-left: 20px">
                    <button id="btnSkillSave">SAVE</button>
                    <button id="btnSkillCancel">CANCEL</button>
                </div>
            </div>
        </div>
    </div>
    <!--#endregion-->

    <!--#region MODAL EXPERIENCE-->
    <div id='modExperience'>
        <div>
            <span>EXPERIENCE DETAIL</span>
        </div>
        <div>
            <div id="psnExpCont" style="height: 40px"></div>
            <div id="psnExp">
                <div id="psnExpContent"></div>
            </div>
            <div>
                <table>
                    <tr>
                        <td>Emp. Code *</td>
                        <td>
                            <input type="text" id="txtExpCode" /></td>
                    </tr>
                    <tr>
                        <td>Start Working *</td>
                        <td>
                            <div id="dtExpStart"></div>
                        </td>
                        <td style="padding-left: 30px">End Working *</td>
                        <td>
                            <div id="dtExpEnd"></div>
                        </td>
                    </tr>
                    <tr>
                        <td>CompanyName *</td>
                        <td>
                            <input type="text" id="txtExpCompanyName" />
                        </td>
                        <td style="padding-left: 30px">Line Of Bussiness</td>
                        <td>
                            <input type="text" id="txtExpBussiness" /></td>
                    </tr>
                    <tr>
                        <td>Department</td>
                        <td>
                            <input type="text" id="txtExpDepartment" /></td>
                        <td style="padding-left: 30px">Last Job Title</td>
                        <td>
                            <input type="text" id="txtExpLastTitle" /></td>
                    </tr>
                    <tr>
                        <td>Last Salary</td>
                        <td>
                            <div id="txtExpSalary"></div>
                        </td>
                        <td style="padding-left: 30px">End Working Reason</td>
                        <td>
                            <input type="text" id="txtExpReason" /></td>
                    </tr>
                    <tr>
                        <td style="vertical-align: top">Description</td>
                        <td colspan="2">
                            <textarea id="txtExpDesc"></textarea>
                        </td>
                    </tr>
                </table>
                <div style="margin-top: 15px; margin-left: 20px">
                    <button id="btnExpSave">SAVE</button>
                    <button id="btnExpCancel">CANCEL</button>
                </div>
            </div>
        </div>
    </div>
    <!--#endregion-->

    <!--#region MODAL TRAINING-->
    <div id='modTraining'>
        <div>
            <span>TRAINING DETAIL</span>
        </div>
        <div>
            <div id="psnTrnCont" style="height: 40px"></div>
            <div id="psnTrn">
                <div id="psnTrnContent"></div>
            </div>
            <div>
                <table>
                    <tr>
                        <td>Emp. Code *</td>
                        <td>
                            <input type="text" id="txtTrnCode" /></td>
                    </tr>
                    <tr>
                        <td>Start Date *</td>
                        <td>
                            <div id="dtTrnStart"></div>
                        </td>
                        <td style="padding-left: 30px">End Date *</td>
                        <td>
                            <div id="dtTrnEnd"></div>
                        </td>
                    </tr>
                    <tr>
                        <td>Training Subject *</td>
                        <td>
                            <input type="text" id="txtTrnSubject" />
                        </td>
                        <td style="padding-left: 30px">Organizer By *</td>
                        <td>
                            <input type="text" id="txtTrnOrganizer" /></td>
                    </tr>
                    <tr>
                        <td>Training Place *</td>
                        <td>
                            <input type="text" id="txtTrnPlace" /></td>
                        <td style="padding-left: 30px">Company</td>
                        <td>
                            <input type="text" id="txtTrnCompany" /></td>
                    </tr>
                    <tr>
                        <td>Value</td>
                        <td>
                            <input type="text" id="txtTrnValue" /></td>
                        <td></td>
                        <td>
                            <input type="checkbox" id="chkTrnCompany" />
                            Same As Employee's
                        </td>
                    </tr>
                </table>
                <div style="margin-top: 15px; margin-left: 20px">
                    <button id="btnTrnSave">SAVE</button>
                    <button id="btnTrnCancel">CANCEL</button>
                </div>
            </div>
        </div>
    </div>
    <!--#endregion-->

    <div id='modYesNo'>
        <div><span>Human Resource Development</span></div>
        <div>
            <div style="margin-top: 10px; margin-left: 10px">
                Are You Sure To Delete Selected data ?
            </div>
            <div style="margin-top: 40px; margin-left: 20px">
                <button id="btnYes">YES</button>
                <button id="btnNo">NO</button>
            </div>
        </div>
    </div>
    <div id="modCountryLookUp">
        <div><span>Human Resource Development</span></div>
        <div>
            <div id="CountryLookUpToolBar" style="margin-bottom: 1px"></div>
            <div id="tblCountryLookUp"></div>
        </div>
    </div>

    <div id="modDeptLookUp">
        <div><span>Human Resource Development</span></div>
        <div>
            <div id="DeptLookUpToolBar" style="margin-bottom: 1px"></div>
            <div id="tblDeptLookUp"></div>
        </div>
    </div>

    <div id="modTitleLookUp">
        <div><span>Human Resource Development</span></div>
        <div>
            <div id="TitleLookUpToolBar" style="margin-bottom: 1px"></div>
            <div id="tblTitleLookUp"></div>
        </div>
    </div>

    <div id="modLvlLookUp">
        <div><span>Human Resource Development</span></div>
        <div>
            <div id="LvlLookUpToolBar" style="margin-bottom: 1px"></div>
            <div id="tblLvlLookUp"></div>
        </div>
    </div>

    <div id="modBankLookUp">
        <div><span>Human Resource Development</span></div>
        <div>
            <div id="BankLookUpToolBar" style="margin-bottom: 1px"></div>
            <div id="tblBankLookUp"></div>
        </div>
    </div>

    <div id="modStatusLookUp">
        <div><span>Human Resource Development</span></div>
        <div>
            <div id="StatusLookUpToolBar" style="margin-bottom: 1px"></div>
            <div id="tblStatusLookUp"></div>
        </div>
    </div>

    <div id="modCompanyList">
        <div><span>COMPANY DETAIL</span></div>
        <div>
            <div id="tblCompany"></div>
            <div style="margin-top: 10px; margin-left: 20px">
                @*<table>
                    <tr>
                        <td>
                            <button id="btnNew_Company">NEW DATA</button>
                        </td>
                        <td>
                            <button id="btnEdit_Company">EDIT</button>
                        </td>
                        <td>
                            <button style="margin-left: 50px" id="btnDelete_Company">DELETE</button>
                        </td>
                        <td>
                            <button id="btnClose_Company">CANCEL</button>
                        </td>
                    </tr>
                </table>*@
                <table>
                    <tr>
                        <td>
                            <div style="width: 100px; height: 30px;" id="btnNew_Company" role="button">
                                <img style="vertical-align: middle" src="~/content/images/add property_24_grey.png">
                                <span style="position: relative; top: 3px;">ADD NEW</span>
                            </div>

                        </td>
                        <td>
                            <div style="margin-left: 5px; width: 100px; height: 30px;" id="btnEdit_Company" role="button">
                                <img style="vertical-align: middle" src="~/content/images/edit property_24_grey.png">
                                <span style="position: relative; top: 3px;">EDIT</span>
                            </div>

                        </td>
                        <td>
                            <div style="margin-left: 50px; width: 100px; height: 30px;" id="btnDelete_Company" role="button">
                                <img style="vertical-align: middle" src="~/content/images/delete property_24_grey.png">
                                <span style="position: relative; top: 3px;">DELETE</span>
                            </div>

                        </td>
                        <td>
                            <div style="margin-left: 5px; width: 100px; height: 30px;" id="btnClose_Company" role="button">
                                <img style="vertical-align: middle" src="~/content/images/close pane_24_grey.png">
                                <span style="position: relative; top: 3px;">CLOSE</span>
                            </div>

                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div id="modCompany">
        <div>
            <span>COMPANY DETAIL</span>
        </div>
        <div>
            <div id="psnCompCont" style="height: 40px"></div>
            <div id="psnComp">
                <div id="psnCompContent"></div>
            </div>
            <div>
                <table>
                    <tr>
                        <td>Emp. Code *</td>
                        <td>
                            <input type="text" id="txtCompCode" /></td>
                    </tr>
                    <tr>
                        <td>Date *</td>
                        <td>
                            <div id="dtTgl_Company"></div>
                        </td>
                    </tr>
                    <tr>
                        <td>Company *</td>
                        <td>
                            <input type="text" id="txtCompanyCode_Company" />
                            <input type="button" id="btnCompanyCode_Company" value="..." />
                            <input type="text" id="txtCompanyName_Company" />
                        </td>
                        <td style="padding-left: 30px">Branch Office *</td>
                        <td>
                            <input type="text" id="txtBranchCode_Company" />
                            <input type="button" id="btnBranchCode_Company" value="..." />
                            <input type="text" id="txtBranchName_Company" />
                        </td>
                    </tr>
                    <tr>
                        <td>Department</td>
                        <td>
                            <input type="text" id="txtDeptCode_Company" />
                            <input type="button" id="btnDeptCode_Company" value="..." />
                            <input type="text" id="txtDeptName_Company" />
                        </td>
                        <td style="padding-left: 30px">Job Title</td>
                        <td>
                            <input type="text" id="txtTitleCode_Company" />
                            <input type="button" id="btnTitleCode_Company" value="..." />
                            <input type="text" id="txtTitleName_Company" />
                        </td>
                    </tr>
                    <tr>
                        <td>Grade</td>
                        <td>
                            <input type="text" id="txtGradeCode_Company" />
                            <input type="button" id="btnGradeCode_Company" value="..." />
                            <input type="text" id="txtGradeName_Company" />
                        </td>
                    </tr>
                    <tr>
                        <td style="vertical-align: top">Description</td>
                        <td colspan="2">
                            <textarea id="txtDesc_Company"></textarea>
                        </td>
                    </tr>
                </table>
                <div style="margin-top: 15px; margin-left: 20px">
                    <button id="btnSave_Company">SAVE</button>
                    <button id="btnCancel_Company">CANCEL</button>
                </div>
            </div>
        </div>
    </div>
    <div id="modBranchLookUp">
        <div><span>Human Resource Development</span></div>
        <div>
            <div id="BranchLookUpToolBar" style="margin-bottom: 1px"></div>
            <div id="tblBranchLookUp"></div>
        </div>
    </div>

    <div id="modCompanyLookUp">
        <div><span>Human Resource Development</span></div>
        <div>
            <div id="CompanyLookUpToolBar" style="margin-bottom: 1px"></div>
            <div id="tblCompanyLookUp"></div>
        </div>
    </div>

    <div id="modSupervisorLookUp">
        <div><span>Human Resource Development</span></div>
        <div>
            <div id="SupervisorLookUpToolBar" style="margin-bottom: 1px"></div>
            <div id="tblSupervisorLookUp"></div>
        </div>
    </div>

</div>

