@{
    ViewBag.Title = "Employee";
    Layout = "~/Views/Shared/_header.cshtml";
}


<header>
    <script src="~/scripts/mEmployee/m_employee_list.js"></script>
</header>

<div>
    <table style="width: 100%">
        <tr>
            <td style="width: 100px">Company</td>
            <td>
                <input type="text" style="width: 50px" id="txtIntCompany" />
                <input type="button" id="btnKdCompany" value="..." />
                <input type="text" style="width: 250px" id="txtCompany" />
            </td>
        </tr>
        <tr>
            <td>Branch</td>
            <td>
                <input type="text" style="width: 50px" id="txtIntBranch" />
                <input type="button" id="btnKdBranch" value="..." />
                <input type="text" style="width: 350px" id="txtBranch" />
            </td>
        </tr>
        <tr>
            <td colspan="4">
                <div style="margin-bottom: 2px" id="jqxToolBar"></div>
                <div id="jqxgrid"></div>
            </td>
        </tr>
    </table>
</div>

<div id="modBranchLookUp">
    <div><span>Human Resource Development</span></div>
    <div>
        <div id="BranchLookUpToolBar" style="margin-bottom: 1px"></div>
        <div id="tblBranchLookUp"></div>
    </div>
</div>

<div id="modCompanyLookUp">
    <div><span>Human Resource Development</span></div>
    <div>
        <div id="CompanyLookUpToolBar" style="margin-bottom: 1px"></div>
        <div id="tblCompanyLookUp"></div>
    </div>
</div>


