@{
    ViewBag.Title = "PinjamanAnggota";
    Layout = "~/Views/Shared/_header.cshtml";
}



<header>
    <script type="text/javascript">
        $(document).ready(function () {
            // prepare the data

            var theme = 'sunny';

            $("#jqxToolBar").jqxToolBar({
                width: 800, height: 35, tools: 'custom | custom | custom',
                initTools: function (type, index, tool, menuToolIninitialization) {
                    if (type == "toggleButton") {
                        var icon = $("<div class='jqx-editor-toolbar-icon jqx-editor-toolbar-icon-" + theme + " buttonIcon'></div>");
                    }
                    switch (index) {
                        case 0:
                            var button = $("<div>" + "<img src='../../images/administrator.png' title='Custom tool' />" + "</div>");
                            tool.append(button);
                            button.jqxButton({ height: 15 });
                            break;
                    }
                }
            });

            var source =
              {
                  url: base_url + "/Employee/GetEmployeeList?pCompanyCode=1",
                  datatype: "json",
                  type: "Post",
                  datafields: [{ name: "employee_code", type: "string" },
                               { name: "employee_name" },
                               { name: "emp_address" },
                               { name: "company_name" },
                               { name: "departement_name" },
                               { name: "division_name" },
                               { name: "level_name" },
                               { name: "entry_date", type: "date" }],
                  cache: false,
                  filter: function () {
                      // update the grid and send a request to the server.
                      $("#jqxgrid").jqxGrid('updatebounddata', 'filter');
                  },
                  sort: function () {
                      // update the grid and send a request to the server.
                      $("#jqxgrid").jqxGrid('updatebounddata', 'sort');
                  },
                  beforeprocessing: function (data) {
                      //alert(JSON.stringify(data['TotalRows']));
                      source.totalrecords = data["TotalRows"];
                  },
                  root: 'Rows'
              }

            var filterChanged = false;
            var dataAdapter = new $.jqx.dataAdapter(source, {
                downloadComplete: function (data, status, xhr) {
                    if (!source.TotalRows) {
                        source.TotalRows = data.length;
                    }
                },
                loadError: function (xhr, status, error) {
                    throw new Error(error);
                }
            });

            $("#jqxgrid").jqxGrid(
              {
                  theme: 'custom_merah',
                  source: dataAdapter,
                  width: '100%',
                  filterable: true,
                  sortable: true,
                  pageable: true,
                  pagesize: 15,
                  pagesizeoptions: ['15', '20', '30'],
                  autoheight: true,
                  rowsheight: 20,
                  autorowheight: true,
                  columnsresize: true,
                  virtualmode: true,
                  autoshowfiltericon: true,
                  rendergridrows: function (obj) {
                      return obj.data;
                  },
                  columns: [
                    { text: 'emp. code', dataField: 'employee_code', width: 100, cellsalign: 'center' },
                    { text: 'employee name', dataField: 'employee_name', width: 200 },
                    { text: 'address', dataField: 'emp_address', width: 450 },
                    { text: 'company name', dataField: 'company_name', width: 150, cellsalign: 'right', hidden: 'true' },
                    { text: 'division name', dataField: 'division_name', width: 90, cellsalign: 'right', hidden: 'true' },
                    { text: 'level name', dataField: 'level_name', minwidth: 200 },
                    { text: 'entry date', dataField: 'entry_date', filtertype: 'date', cellsalign: 'center', width: 100, cellsformat: 'dd-MMM-yy' }
                  ]
              });
        });
    </script>
</header>
<div style="background-color: #F5F5F5">
    <div id="jqxToolBar"></div>
    <div id="jqxgrid"></div>
</div>

